.cont-nav {
	position: fixed;
	display: flex;
    justify-content: center;
    width: 100%;
}

.cont-body {
	padding-top: 50px;
	width: 70%;
	margin: auto;
}

.sobre-mi container {
	width: 80%;
}

.myself {
	display: flex;
	justify-content: center;
}

.myself img{
	width: 300px;
	border-radius: 10%;
	box-shadow: black 0px 0px 10px;
}

.myinfo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.habilidades {
	margin-top: 40px;
}

.habilidades h2 {
	width: 30%;
	margin: auto;
}