#sobre-mi{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

#soy-yo img{
	width: 200px;
	border-radius: 100px;
}

#habilidades{
	margin-top: 50px;
	text-align: center;
}